# Database
DATABASE_URL="postgresql://user:password@localhost:5432/seculoge?schema=public"

# NextAuth
AUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Application Settings
SECULOGE_FEE_PERCENTAGE="25"
DEPOSIT_RETURN_DELAY_HOURS="48"
